<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="margin: 10px">
        <div class="card-body">
          <p><b>Nombre del producto</b></p>
          <p><b>Vendidos</b></p>
          <p><b>Precio</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="margin: 10px">
        <div class="card-body">
          <p><b>Nombre del producto</b></p>
          <p><b>Vendidos</b></p>
          <p><b>Precio</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="margin: 10px">
        <div class="card-body">
          <p><b>Nombre del producto</b></p>
          <p><b>Vendidos</b></p>
          <p><b>Precio</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="margin: 10px">
          <div class="card-body">
            <p><b>Nombre del producto</b></p>
            <p><b>Vendidos</b></p>
            <p><b>Precio</b></p>
          </div>
        </div>
      </div>  
  </div>
</div>