<div class="container">
  <div class="row">
    <h4>Registro</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Apellido</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <!--Final de row-->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Fecha de nacimiento</label>
        <input type="date" class="form-control">
      </div>
    </div>
  </div>
  <!--Final de row-->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">DNI</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Direccion</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <!--Final de row-->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Confirmar contraseña</label>
        <input type="password" class="form-control">
      </div>
    </div>
  </div>
  <!--Final de row-->
  <div class="row">
    <input type="submit"  class="btn btn-primary" value="Registrarse">
  </div>
</div>