<div class="container-fluid ">
    <div class="row" style="margin-right: 8px">
      <div class="col-md-2" style="padding-top:60px; " >
        <div class="form-group">
          <label for=""><b>Ordenar por</b></label>
          <select name="" id="" class="form-control">
            <option value="">Nombre</option>
            <option value="">Precio</option>
          </select>
        </div>
        <label for=""><b>Mostrar sólo</b></label>
        
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Limpieza
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Variados
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Alimentos
          </label>
        </div>
      </div>
      <div class="col-md-10" style="background-color: white; padding: 7px; border-radius: 10px;">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Buscar..">
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="margin: 15px 15px">
                  <div class="card-body">
                    <p><b>Producto</b></p>
                    <p>Descripcion</p>
                    <p>Cantidad</p>
                    <p>Precio</p>
                  </div>
              </div>
            <!--Carta-->
            <div class="card" style="margin: 15px 15px">
                <div class="card-body">
                  <p><b>Producto</b></p>
                  <p>Descripcion</p>
                  <p>Cantidad</p>
                  <p>Precio</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>