<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img src="" alt="">
      <input type="file" name="" id="" class="form-control">
      <div class="form-group">
        <label for="">Nombre del comercio</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Rubro</label>
        <select name="" id="" class="form-control">
          <option value="">Seleccione un rubro</option>
          <option value="">Mayoristas</option>
          <option value="">Limpieza</option>
          <option value="">Variados</option>
          <option value="">Alimenticios</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Ubicación</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="">Descripcion</label>
        <textarea class="form-control" name="" id="" ></textarea>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
